default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-added-large-files

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          - --verbose
          - feat
          - fix
          - docs
          - refactor
          - test
          - ci
          - build
          - chore

  - repo: local
    hooks:
      - id: nix-fmt
        name: nix fmt (all .nix files)
        entry: find . -type d \( -name .git -o -name .direnv \) -prune -o -type f -name "*.nix" -exec nixfmt {} +
        language: system
        pass_filenames: false
