name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21

      - name: Cache Nix store
        uses: DeterminateSystems/magic-nix-cache-action@v13

      - name: Run checks
        run: nix develop -c just ci
