# {{ project_name }}

{{ description }}

## Dev
```bash
# If you use direnv
direnv allow
uv sync
uv run python -c "import {{ project_name }}; print('ok')"

# Without direnv
nix develop
uv sync
uv run python -c "import {{ project_name }}; print('ok')"
```
