# {{ project_name }}

{{ description }}

## Dev
```bash
# If you use direnv
direnv allow
just init
just test
uv run python -c "import {{ project_name }}; print('ok')"

# Without direnv
nix develop
just init
just test
uv run python -c "import {{ project_name }}; print('ok')"

# Run all checks
just check
```
