{% if language == "japanese" -%}
\documentclass[10pt,a4paper]{ltjsarticle}
\usepackage{luatexja}
{% else -%}
\documentclass[10pt,a4paper]{article}
{% endif -%}

\usepackage[margin=20mm]{geometry}
\usepackage{booktabs}
\usepackage{graphicx}
\usepackage{hyperref}
{% if language == "english" %}
\usepackage{microtype}
{% endif %}
{% if bibliography %}
\usepackage[backend=biber,style=numeric]{biblatex}
\addbibresource{references.bib}
{% endif %}

\hypersetup{
  colorlinks = true,
  linkcolor = blue,
  citecolor = blue,
  urlcolor = blue,
}

\title{ {{ title }} }
{% if author -%}
\author{ {{ author }} }
{% else -%}
\author{}
{% endif -%}
\date{\today}

\begin{document}

\maketitle

{% if language == "japanese" -%}
\section{はじめに}

これは LuaLaTeX でビルドする日本語文書のテンプレートです。
{% if bibliography -%}
参考文献の例です\cite{knuth1984texbook}。
{% endif %}

\section{本文}

本文を書き始めます。
{% else -%}
\section{Introduction}

This is a LaTeX document template built with LuaLaTeX.
{% if bibliography -%}
Here is a bibliography example~\cite{knuth1984texbook}.
{% endif %}

\section{Body}

Start writing here.
{% endif %}

{% if bibliography %}
\printbibliography
{% endif %}

\end{document}
